# Easier navigation
alias ..="cd .."
alias ~="cd ~"

alias hosts='sudo $EDITOR /etc/hosts'

# Less Typing Brew sub-commands
alias cask='brew cask'

# colorize outputs
GRC=`which grc`
if [ "$TERM" != dumb ] && [ -n "$GRC" ]; then
  alias colourify="$GRC -es --colour=auto"
  alias configure='colourify ./configure'
  alias make='colourify make'
  alias gcc='colourify gcc'
  alias g++='colourify g++'
  alias netstat='colourify netstat'
  alias ping='colourify ping'
  alias traceroute='colourify /usr/sbin/traceroute'
fi

# Detect which ls in use
if ls --color > /dev/null 2>&1; then # GNU
  colorflag="--color"
else # OS X
  colorflag="-G"
fi
alias ls='CLICOLOR_FORCE=1 ls -Fh ${colorflag}'

# List all files colorized in long format, including dot files
alias la="ls -lAF ${colorflag}"

# List only directories
alias lsd='la | grep "^d"'


# Get IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Git Aliases
alias g="git"
alias gs="git status"

# Use VIM not Vi
alias v="vim"

# File size
alias fs="stat -f \"%z bytes\""

# Kill tabs in Chrome
alias chromekill="ps ux | grep '[C]hrome Helper --type=renderer' | grep -v extension-process | tr -s ' ' | cut -d ' ' -f2 | xargs kill"

# Empty the Trash on all mounted volumes and the main HDD
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; rm -rfv ~/.Trash"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"
