# Prefer US English and UTF-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"

# Don't clear the screen after quitter a manual page
export MANPAGER="less -X"

# Larger bash history
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# timestamps for bash history 
export HISTTIMEFORMAT='%F %T '
# Make some common commands not show in history
export HISTIGNORE="ls:cd:cd -:pwd;exit:date:* --help"

export EDITOR=/usr/local/bin/nvim
export DYLD_LIBRARY_PATH=/opt/homebrew/lib
export LD_LIBRARY_PATH=/opt/homebrew/lib
# Use Android Studio Java home
export NVM_DIR=~/.nvm
export GOPATH=~/go
export JAVA_HOME=$(/usr/libexec/java_home -v12)

# Construct Path..
PATH=$PATH:/usr/bin:/bin:/usr/sbin:/sbin:
# Add Go to path
PATH=$PATH:/usr/local/opt/go/libexec/bin
# Add Go binaries to path
PATH=$PATH:$GOPATH/bin
# Add local user binaries to path, with priority
PATH=/usr/local/bin:/usr/local/sbin:$PATH
PATH=$HOME/bin:$PATH

export PATH
