# Prefer US English and UTF-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"

# ls options: Use color even with piping to awk, F = put `/` after folders, h = byte unit suffixes, color
export LS_COLORS='no=00:fi=00:di=01;34:ln=01;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.gz=01;31:*.bz2=01;31:*.deb=01;31:*.rpm=01;31:*.jar=01;31:*.jpg=01;35:*.jpeg=01;35:*.gif=01;35:*.bmp=01;35:*.pbm=01;35:*.pgm=01;35:*.ppm=01;35:*.tga=01;35:*.xbm=01;35:*.xpm=01;35:*.tif=01;35:*.tiff=01;35:*.png=01;35:*.mov=01;35:*.mpg=01;35:*.mpeg=01;35:*.avi=01;35:*.fli=01;35:*.gl=01;35:*.dl=01;35:*.xcf=01;35:*.xwd=01;35:*.ogg=01;35:*.mp3=01;35:*.wav=01;35:'

# Don't clear the screen after quitter a manual page
export MANPAGER="less -X"

# Larger bash history
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups

# timestamps for bash history 
export HISTTIMEFORMAT='%F %T '

# Make some common commands not show in history
export HISTIGNORE="ls:cd:cd -:pwd;exit:date:* --help"

export EDITOR=/usr/local/bin/vim
export NPM_HOME=/usr/local/share/npm
export GOPATH=~/go

# Construct Path..
PATH=/usr/bin:/bin:/usr/sbin:/sbin

# Add NPM packages to path
PATH=$PATH:$NPM_HOME/bin

# Add Go packages to path
PATH=$PATH:$GOPATH/bin

# Homebrew executables are important
PATH=/usr/local/bin:$PATH
# Updated GNU Core Utilities
PATH=`brew --prefix coreutils`/libexec/gnubin:$PATH

export PATH
