[color]
  ui = always

[core]
  excludesfile = ~/.gitignore
  editor = /usr/local/bin/vim

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[merge]
  tool = opendiff

[push]
  default = simple 

[user]
  name = Jamie Stackhouse
  email = contin673+git@gmail.com

# rewrites
[url "git@github.com:"]
  insteadOf = "gh:"
  pushInsteadOf = "github:"
  pushInsteadOf = "git://github.com/"
  pushInsteadOf = "https://github.com"
[url "git://github.com/"]
  insteadOf = "github:"
[url "git@gist.github.com:"]
  insteadOf = "gst:"
  pushInsteadOf = "gist:"
  pushInsteadOf = "git://gist.github.com/"
[url "git://gist.github.com/"]
  insteadOf = "gist:"

[url "git@github.com:itsjamie/"]
  insteadOf = "git://github.com/itsjamie/"

[help]
  autocorrect = 1
[url "ssh://git@stash.redspace.com/"]
	insteadOf = https://stash.redspace.com/scm/
