[core]
  excludesfile = ~/.gitignore
  editor = nvim

[include]
	path = gitconfig.local

[help]
	autocorrect = 1

[color]
  ui = always
	branch = auto
	diff = auto
	interactive = auto
	status = auto

[merge]
  tool = opendiff

[push]
  default = simple 

[user]
  name = Jamie Stackhouse
  email = "(none)"

# rewrites
[url "git@github.com:itsjamie/"]
  insteadOf = "git://github.com/itsjamie/"
[url "ssh://git@stash.redspace.com/"]
	insteadOf = https://stash.redspace.com/scm/
[alias]
	co = checkout
	local-branches = !git branch -vv | cut -c 3- | grep -v origin | cut -d ' ' -f 1
	tracking-gone = !git branch -vv | cut -c 3- | grep '\\[.*: gone\\]' | cut -d ' ' -f 1
	prune-local = !git local-branches | xargs git branch -d
	prune-tracking-gone = !git tracking-gone | xargs git branch -d
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	publish = !BRANCH=$(git rev-parse --abbrev-ref HEAD) && git push -u origin $BRANCH
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
