<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>745CF3AF-9F3A-4948-B84B-27BC978E0165</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>torrent</string>
			<key>plusSpaces</key>
			<true/>
			<key>text</key>
			<string>Stellarwinds</string>
			<key>url</key>
			<string>http://stellarwinds.me/browse.php?search={query}&amp;incldead=0&amp;act=all&amp;sort=0&amp;type=desc&amp;descr=2</string>
			<key>utf8</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
